<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品类别维护</title>
    {{template "crm_link"}}
</head>

<body>
<div class="wap">
    {{template "crm_header" .}}
    <div class="container body">
        {{if not .user.IsAdmin}}
            <div class="col-md-2"></div>
        {{end}}
        <div class="col-md-8">
            <table id="grid-data" class="table table-condensed table-hover table-striped">
                <colgroup>
                    <col width="50px;"></col>
                    <col></col>
                {{if  .user.IsAdmin}}
                    <col width="60px;"></col>
                {{end}}
                </colgroup>
                <thead>
                <tr>
                    <th data-column-id="id" data-type="numeric">ID</th>
                    <th data-column-id="name">名称</th>
                    {{if  .user.IsAdmin}}
                    <th data-column-id="commands" data-formatter="commands" data-sortable="false">操作</th>
                    {{end}}
                    </tr>
                </thead>
            </table>
        </div>
        {{if  .user.IsAdmin}}
        <div class="col-md-4">
            <fieldset id="edit-fieldset" style="display: none;">
                <!-- class="" -->
                <legend><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 商品类别编辑</legend>
                <input type="hidden"  id="edit-id">
                <div class="form-group">
                    <label for="edit-name">商品名称</label>
                    <input type="text" class="form-control" id="edit-name" placeholder="商品编号">
                </div>
                <button id="edit-submit" type="submit" class="btn btn-default">提交</button>
                <button id="edit-back" type="submit" class="btn btn-default pull-right">返回</button>
            </fieldset>
            <fieldset id="add-fieldset">
                <!-- class="fa fa-pencil-square-o" -->
                <legend><i class="fa fa-file-o" aria-hidden="true"></i> 商品类别新增</legend>
                <div class="form-group">
                    <label for="form-name">商品名称</label>
                    <input type="text" class="form-control" id="form-name" placeholder="商品编号">
                </div>
                <button id="form-submit" type="submit" class="btn btn-default">提交</button>
            </fieldset>
        </div>
        {{end}}
    </div>
</div>
{{template "crm_script"}}
<script type="text/javascript">
    var grid = $("#grid-data").bootgrid({
        ajax: true,
        post: function (){
            return {
                // id: "b0df282a-0d67-40e5-8558-c9e93b7befed",
                // name:"fasd"
            };
        },
        url: "/crm/producttype/query",
        labels: {
            all: "全部",
            infos: "{{"{{ctx.start}}"}}-{{"{{ctx.end}}"}}/{{"{{ctx.total}}"}}",
            loading: "加载...",
            noResults: "没有数据!",
            refresh: "刷新",
            search: "查询"
        },
        formatters: {
            "commands": function(column, row)
            {
                return "<button type=\"button\" class=\"btn btn-xs btn-default command-edit\" data-row-id=\"" + row.id + "\"><i class=\"fa fa-pencil\" aria-hidden=\"true\"></i></button> " +
                        "<button type=\"button\" class=\"btn btn-xs btn-default command-delete\" data-row-id=\"" + row.id + "\"><i class=\"fa fa-trash-o\" aria-hidden=\"true\"></i></button>";
            }
        }
    }).on("loaded.rs.jquery.bootgrid", function(){
        grid.find(".command-edit").on("click", function(e){
            showEditView($(this).data("row-id"))
        }).end().find(".command-delete").on("click", function(e){
            del($(this).data("row-id"));
        });
    });

    function del(id){
        if (!confirm("您确定要删除？删除后将无法恢复")) {
            return;
        }
        $.post("/crm/producttype/del/"+id,{},function(data){
            if(data.code==0){
                toastr.success('商品删除成功', data.msg);
                grid.bootgrid("reload");
            }else{
                toastr.error('商品删除失败', data.msg);
            }
        },"json");
    }

    function showEditView(id){
        $.get("/crm/producttype/get/"+id,function(data){
            var div=$("#add-fieldset");
            var div2=$("#edit-fieldset");
            div.hide();
            div2.show();
            $("#edit-id").val(data.id);
            $("#edit-name").val(data.name);
        },"json");
    }
    $(document).ready(function(e){
        $("#form-submit").click(function(e){
            var name = $("#form-name").val();
            if(!name){
                toastr.error('名称不能为空', '请输入名称！');
                return ;
            }
            var param = {
                name:name
            };
            $.post("/crm/producttype/add",param,function(data){
                if(data.code==0){
                    toastr.success('商品添加成功', data.msg);
                    grid.bootgrid("reload");
                }else{
                    if(data.msg=="UNIQUE constraint failed: producttype.name"){
                        data.msg="名称已存在";
                    }
                    toastr.error('类别添加失败', data.msg);
                }
            },"json");
        });
        $("#edit-back").click(function(e){
            $("#add-fieldset").show();
            $("#edit-fieldset").hide();
        });
        $("#edit-submit").click(function(e){
            var id = $("#edit-id").val();
            var name = $("#edit-name").val();
            if(!name){
                toastr.error('名称不能为空', '请输入名称！');
                return ;
            }
            var param = {
                name:name,
            };
            $.post("/crm/producttype/edit/"+id,param,function(data){

                if(data.code==0){
                    toastr.success('类别修改成功', data.msg);
                    grid.bootgrid("reload");
                }else{
                    toastr.error('类别修改失败', data.msg);
                }
                $("#add-fieldset").show();
                $("#edit-fieldset").hide();
            },"json");
        });
    });
</script>
</body>
</html>